
  <div class="container">
  <div class="jumbotron">
      <img src="/assets/images/friends.jpg" alt="friends" class="img-fluid img-thumbnail float-right">
    <h1 class="display-3">Friends Finder App</h1>
    <p class="lead">Welcome every one</p>
    <p class="lead">Click Start Survey Button and do your best to catch friends that they match your thinking and your hobbies...</p>

    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/survey" role="button">Start Survey</a>
    
  </div>
</div>
<div class="container">
<footer>
  <p>created By Mo Farahat.          <span> copyright @2018</span></p>
</footer>
</div>
