<div class="container">
  <br>
  <h2> Please Fill All Data Then Start Your Survey...</h2>
  <br>
      <form class="survey-form" >
<div class="form-group">
    <label for="Name">Full Name</label>
    <input type="text" class="form-control" id="name" name = "name" placeholder="Enter Your name" required>
  </div>
  <div class="form-group">
    <label for="img_url">Image Url</label>
    <input type="text" class="form-control" id="img_url" name ="img_url" placeholder="Enter Image Url" required>
    <small id="img_urlHelp" class="form-text text-muted">please type your photo filename.ext for example.. Image.jpg/small>
  </div>
</div>
<br>
<div class="container">
    <h1>Questions:</h1>
  <span id="q1">1</span>
    <h3> Your mind is always buzzing with unexplored ideas and plans. </h3>
    <select class="custom-select custom-select-lg mb-3" id="answer" name="answer">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
  <span id="q2">2</span>
      <h3> Generally speaking, you rely more on your experience than your imagination. </h3>
      <select class="custom-select custom-select-lg mb-3" id="answer1" name="answer1">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
  <span id="q3">3</span>
    <h3> You find it easy to stay relaxed and focused even when there is some pressure. </h3>
    <select class="custom-select custom-select-lg mb-3" id="answer2" name="answer2">
     <option value=""></option>
     <option value="1">1 (Strongly Disagree)</option>
     <option value="2">2</option>
     <option value="3">3</option>
     <option value="4">4</option>
     <option value="5">5 (Strongly Agree)</option>
    </select>
       <span id="q4">4</span>
    <h3> You rarely do something just out of sheer curiosity. </h3>
     <select class="custom-select custom-select-lg mb-3" id="answer3" name="answer3">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
       <span id="q5">5</span>
    <h3> People can rarely upset you. </h3>
    <select class="custom-select custom-select-lg mb-3" id="answer4" name="answer4">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
       <span id="q6">6</span>
    <h3> It is often difficult for you to relate to other people’s feelings. </h3>
    <select class="custom-select custom-select-lg mb-3" id="answer5" name="answer5">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
       <span id="q7">7</span>
    <h3> In a discussion, truth should be more important than people’s sensitivities. </h3>
    <select class="custom-select custom-select-lg mb-3" id="answer6" name="answer6">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
  <span id="q8">8</span>
    <h3> You rarely get carried away by fantasies and ideas. </h3>
     <select class="custom-select custom-select-lg mb-3" id="answer7" name="answer7">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
  <span id="q9">9</span>
    <h3> You think that everyone’s views should be respected regardless of whether they are supported by facts or not. </h3>
     <select class="custom-select custom-select-lg mb-3" id="answer8" name="answer8">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>    
  <span id="q10">10</span>
    <h3> You feel more energetic after spending time with a group of people. </h3>
    <select class="custom-select custom-select-lg mb-3" id="answer9" name="answer9">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
  <button type="submit" id="endsurvey" class="btn btn-primary btn-lg btn-block"> submit</button>
   </form>
</div>



